{% extends 'agenda/base.html' %}

{% block content %}

<div>
    <p>{{ contact.name }}
        <a href="{% url 'agenda:econtact' contact.id %}"> editar</a>
        <a href="{% url 'agenda:dcontact' contact.id %}">excluir</a>
    </p>
    
    <p>Phone{{ len|pluralize }}</p>
    <a href="{% url 'agenda:aphone' contact.id %}">adicionar</a>
    <ul>
        {% for p in lst_phones %}
            <li>
                {{ p }}
                <a href="{% url 'agenda:ephone' p.id %}">editar</a>
                <a href="{% url 'agenda:dphone' p.id %}">excluir</a>
            </li>
        {% endfor %}
    </ul>
    
</div>

{% endblock %}

