{% extends 'agenda/base.html' %}

{% block content %}
<div>
    
    
    {% if not user.is_authenticated %}
    <p>Ola forasteiro</p>
    {% endif %}
    {% if request.GET.msg %}
        <p>{{ request.GET.msg }}</p><!--pegar query string na template-->
    {% endif %}
    <a href="{% url 'agenda:login' %}">login</a>
    <a href="{% url 'agenda:sign' %}">sign</a>
    <!--
        caso eu queira passa uma query string por dentro
        na url
        {# <a href="{% url my_videos %}?filter=others&sort=newest">My Videos</a>#}
    -->
    
    
</div>
{% endblock %}
